<h1>ユーザー情報の編集</h1>

<%= form_for (@user) do |f| %>
<table class="table">
	<tr>
		<th>ユーザー名</th>
		<td><%= f.text_field :user_name %></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><%= f.email_field :email %></td>
	</tr>
	<tr>
		<th>イメージ</th>
		<td><%= f.attachment_field :image %></td>
	</tr>
</table>
<%=f.submit "完了"%>
<% end %>

<p><%= link_to user_path(@user.id), class: 'btn btn-default btn-lg btn-block' do %>
<i class="fa fa-arrow-left"></i>
戻る
<% end %>
</p>