<h1>カードリスト編集</h1>

<%= form_for (@cardlist) do |f| %>
<%= f.text_field :cardlist_name %>
<%= f.submit "更新" %>
<%end%>
<br>

<%= form_for [@cardlist, @card] do |c| %>
<%= c.text_area :front, :size => "40x5" %>
<%= c.text_area :back, :size => "40x5" %>
<%= c.submit "登録" %>
<%end%>
<br>

<h4>
<span>覚えたカード <%= num1 = @cards.where(check: 'true').count %>枚</span>
<br>
<span>全てのカード <%= num2 = @cards.count %>枚</span>
</h4>

<% num = (num1.to_f / num2).round(2)  %>
<% num = (num*100).to_i %>

<div class="progress">
	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" style="width:<%= num %>%;">
		<%= num %>%
	</div>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>表</th>
			<th>裏</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cardlist.cards.each do |card| %>
	    <%= form_for ([@cardlist, card]) do |f|%>
		<tr>
			<td><%= f.text_area :front, :size => "40x5" %></td>
			<td><%= f.text_area :back, :size => "40x5" %></td>
			<td><%= f.submit "更新" %></td>
			<td>
			  <%= link_to "削除", cardlist_card_path(@cardlist.id, card.id), method: :delete, "data-confirm"=>"本当に削除しますか？" %>
			</td>
			<td>
		      <% if card.check == false %>
			    <%= link_to '覚えてない！', cardlist_update2_path(@cardlist.id, card.id),method: :patch %>
		      <% else %>
			    <%= link_to '覚えた！' , cardlist_update2_path(@cardlist.id, card.id),method: :patch %>
		      <% end %>
			</td>
		</tr>
		<% end %>
        <% end %>
	</tbody>
</table>

<h1><%= link_to "学習", cardlist_path(@cardlist.id) %></h1>


