<h1>みんなのカードリスト</h1>

<table class="table table-hover">
		<thead>
			<tr>
				<th>カードリスト名</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @cardlists.each do |card| %>
			<tr>
				<td><%= card.cardlist_name %></td>
				<td><%= link_to "学習", cardlist_path(card.id) %></td>
				<td>
					<% if card.favorited_by?(current_user) %>
						 <%= link_to cardlist_favorites_path(card.id), method: :delete do %>
						 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						 <%= card.favorites.count %> いいね ありがとう！
						 <% end %>
					<% else %>
						 <%= link_to cardlist_favorites_path(card.id), method: :post do %>
						 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
						 <%= card.favorites.count %> いいね する！
						 <% end %>
					<% end %>
				</td>
			</tr>
			<%end%>
		</tbody>
	</table>