<h1>Cardlists#index</h1>

<table>
	<thead>
		<tr>
			<th>カードリスト名</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cardlists.each do |c| %>
		<tr>
			<td><%= c.cardlist_name %></td>
			<td><%= link_to "学習", cardlist_path(c.id) %></td>
			<td><%= link_to "編集", edit_cardlist_path(c.id) %></td>
			<td><%= link_to "削除", cardlist_path(c.id), method: :delete, "data-confirm"=>"本当に削除しますか？" %></td>
		</tr>
		<%end%>
	</tbody>
</table>

<h2><%= link_to "カードリスト作成へ", new_cardlist_path %></h2>