	<h1><%= @cardlist.cardlist_name %></h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>表</th>
			<th>裏</th>
		</tr>
	</thead>
	<tbody>
		<% @cardspage.each do |card|%>
		<tr>
			<td><%= simple_format(card.front) %></td>

			<td class="back">
			<style>
			.background-color {background-color: white;}
			</style>

			<div class="div-action">
			<%= simple_format(card.back) %>
			</div>
			</td>

		</tr>
		<%end%>
	</tbody>
</table>

<%= paginate @cardspage, class: "pagenate" %>

<% if @cardlist.user.id == current_user.id %>
	<p><%= link_to edit_cardlist_path(@cardlist.id), class: 'btn btn-default btn-lg btn-block' do %>
	<i class="fa fa-arrow-left"></i>
	カードリスト編集
	<% end %>
	</p>
<% else %>
<% end %>

<!-- app.jsへ -->
<script>
$(function(){
$('.div-action').on('click', function()  {
$(this).toggleClass('background-color');
});

});
</script>