<header class="drawer-navbar drawer-navbar--fixed" role="banner">
  <div class="drawer-container">
    <div class="drawer-header-manual">
      <a class="drawer-brand" href="#">Cards</a>
      <button type="button" class="drawer-toggle drawer-hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
    </div>
    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu drawer-menu--right">

        <li>
          <%= link_to user_path(current_user.id), class: 'btn btn-default btn-default' do %>
            <i class="fa fa-arrow-left"></i>
            <span class="glyphicon glyphicon-home" aria-hidden="true"> マイページ</span>
          <% end %>
        </li>
        <li>
          <%= link_to cardlists_index_path(current_user.id), class: 'btn btn-default btn-default' do %>
            <i class="fa fa-arrow-left"></i>
            <span class="glyphicon glyphicon-tags" aria-hidden="true"> マイカードリスト</span>
          <% end %>
        </li>
        <li>
          <%= link_to cardlists_index_all_users_path, class: 'btn btn-default btn-default' do %>
            <i class="fa fa-arrow-left"></i>
            <span class="glyphicon glyphicon-tags" aria-hidden="true"> みんなのカードリスト</span>
          <% end %>
        </li>
        <li>
          <%= link_to users_path, class: 'btn btn-default btn-default' do %>
            <i class="fa fa-arrow-left"></i>
            <span class="glyphicon glyphicon-user" aria-hidden="true"> ユーザー</span>
          <% end %>
        </li>
        <li>
          <% if user_signed_in? %>
          <p>ログイン中　<%= current_user.user_name %>さん</p>
          <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></p>
          <% else %>
          <p><%= link_to 'ログイン', users_path %></p>
          <p><%= link_to '新規登録', new_user_registration_path %></p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>