<!DOCTYPE html>
<html>
<head>
  <title>RedCard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>

<body class="all">
  <!-- ヘッダー -->
  <header id="top-head">
    <div class="inner">
      <div id="mobile-head">
        <h1 class="logo">RedCard</h1>
        <div id="nav-toggle">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
      <nav id="global-nav">
        <ul>
          <li>
            <a>
              <%= link_to user_path(current_user.id), class:'btn btn-default' do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"> マイページ</span>
              <% end %>
            </a>
          </li>
          <li>
            <a>
              <%= link_to cardlists_index_path(current_user.id), class:'btn btn-default' do %>
              <span class="glyphicon glyphicon-tags" aria-hidden="true"> マイカードリスト</span>
              <% end %>
            </a>
          </li>
          <li>
            <a>
              <%= link_to cardlists_index_all_users_path, class:'btn btn-default' do %>
              <span class="glyphicon glyphicon-tags" aria-hidden="true"> みんなのカードリスト</span>
              <% end %>
            </a>
          </li>
          <li>
            <a>
              <%= link_to destroy_user_session_path, method: :delete,"data-confirm"=>"ログアウトしますか？", :class => 'navbar-link', class:'btn btn-default' do %>
              <span class="glyphicon glyphicon-remove" aria-hidden="true"> ログアウト</span>
              <% end %>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <br>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
